<h1>投稿一覧</h1>

<% @posts.each do |post| %>
	<%= image_tag post.image.to_s, size:"200x200" %>
	<%= post.title %>
	<% if post.user.id == current_user.id %>
		<%= link_to "削除", post_path(post), method: :delete %>
	<% end %>
<% end %>

